<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <%= link_to root_path, :class => 'navbar-brand' do %>
      <%= image_tag 'logo.png' %> <small class='hidden-xs hidden-sm'>データ解析のPythonを学ぼう</small>
    <% end %>
  </div>
</div>

