<div class="memo-park">

  <div class="col-lg-12">
  
  <div class="search-board">
    <h2>stackoverflow 検索</h2>
    <%= form_tag('/memos/stack_search', method: :get) do %>
      <input class="search__query" name="keyword" placeholder="キーワード検索" type="text" value="">
      <button class="btn-search" title="検索" type="submit"><i>検索</i></button>
      </input>
    <% end %>  


  </div>
  
  <div class="memo-board">

    <h2>結果一覧</h2>
      <% @itemshash.each do |item| %>
    
      <a href="<%= item['link'] %>">
      <div class="stack-frame">
          <%= item['title'] %>
      </div>
      </a>
      <% end %>

    </div>

  </div>

  </div>

</div>
